.img{
    height: 40px;
    margin-right:10px ;
}
span {
    color: white;
}
.navegacion{
    color:cornflowerblue 
}
.contenedorCard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, auto);
    gap: 1rem;
}